<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="github.haozi.mybatis.dslab.ProfileMapper">
  <select id="selectOne" resultType="HashMap">
    select * from ius_profile limit 1
  </select>

  <select id="selectById" resultType="HashMap">
    select * from ius_profile where id = #{id} limit 1
  </select>

</mapper>